.bg-img {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    min-height: 700px;;
    min-width: 100%;
    background-size:cover;
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container {
    position: absolute;
    margin:5% 30% 5% 30%;
    width: 40%;
    padding: 16px;
    background-color: white;
    
  }

  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: unset;
  }